---
layout: default
---
<article class="post-content" aria-labelledby="post-heading">
  <div class="container container-prose">
    <header class="post-header">
      <h1 id="post-heading">{{ page.title }}</h1>
      <time class="dateline" datetime="{{ page.date | date_to_xmlschema }}">Filed {{ page.date | date: "%B %-d, %Y" }}</time>
    </header>
    {{ content }}
    {% include social-share.html %}
    {% include cta-box.html heading="Take Action" text="Ready to make a difference? Join Arkansans calling for pension integrity." url="/take-action/" button="Get Involved" %}
  </div>
</article>
